
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: #f2d9d9;
}

h1 {
    margin-top: 20px;
}

.buttons button,
.controls button {
    margin: 10px;
    padding: 12px 17px;
    font-size: 15px;
    cursor: pointer;
}

#storyOutput {
    margin-top: 30px;
    font-size: 20px;
    font-weight: bold;
}
