/* 
started css code to style layout and design
*/
body{
font-family: Arial;
background:#dddada;
text-align:center;
}
/* Page heading style */
h1{
color:#2e2d2d;
}

/* Container alignment */
.container{
display:flex;
justify-content:center;
margin-top:40px;
}
/* Product card style */
.card{
background:rgb(248, 239, 239);
padding:20px;
border-radius:10px;
box-shadow:0px 0px 10px rgba(0,0,0,0.2);
width:300px;
}
